# Môi trường ảo nên không push lên github
# Cài đặt: python -m venv .venv
# Kích hoạt môi trường:
# Windows command prompt: .venv\Scripts\activate.bat
# Windows PowerShell: .venv\Scripts\Activate.ps1
.venv
# File này đang lỗi nên chưa push
EmotionRecognition.py
